<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between">
          <h5 translate-language="Users">Users</h5>
          <div class="d-flex align-items-center justify-content-between px-2">
            <button type="button" class="btn btn-success" style="margin-right: 6px;" ng-click="$ctrl.showAddModal()">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-fill-add" viewBox="0 0 16 16">
                  <path
                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  <path
                    d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                </svg>
              </span>
              <span style="margin-left: 2px;" translate-language="Add User">
                Add User
              </span>
            </button>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" translate-language="Name">
                    Name
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" translate-language="Phone Number">
                    Phone Number
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" translate-language="Balance">
                    Balance
                  </th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" translate-language="User Type">
                    User Type
                  </th>

                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in $ctrl.userList">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm" ng-bind="user.name"></h6>
                        <p class="text-xs text-secondary mb-0" ng-bind="user.email"></p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0" ng-bind="user.contact_number"></p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0" ng-bind="user.assigned_balance"></p>
                  </td>
                  <td>
                    <p class="text-xs text-uppercase font-weight-bold mb-0" ng-bind="user.user_type_id"></p>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex justify-content-center">
                      <div data-toggle="tooltip" title="Info" class="p-1">
                        <a href="javascript:;" ng-click="$ctrl.showCreditUpdateModal(user.id)" title="Add Credit">
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                              <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                              <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
                            </svg>
                          </span>
                        </a>
                        <a href="javascript:;" ng-click="$ctrl.showUpdateModal(user.id)" title="Update Credit">
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-info-circle" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                              <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                          </span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<user-add-update></user-add-update>
<user-add-credit-modal></user-add-credit-modal>