<div class="row mt-5 mt-5">
  <div class="col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center align-items-center">
    <h3>RPS 1</h3>
  </div>
  <div class="col-lg-8 col-lg-8 col-sm-6 d-flex justify-content-center align-items-center">
    <select name="" id="">
      <option value="">today</option>
    </select>
  </div>
</div>
<div class="row p-3">
  <div class="col-md-4 col-lg-4 col-sm-12 p-1">
    <div class="container">
      <div class="card">
        <div class="card-body p-1">
          <div id="guage-rps-1" style="height: 300%; width: 100%;">
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-5 col-sm-12 p-1">
    <div class="container">
      <div class="card">
        <div class="card-body p-1">
          <div id="bar-rps-1" style="height: 300%; width: 100%;">
  
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3 col-lg-3 col-sm-12 p-1 ml-2">
    <div class="card box">
      <div class="card-header">
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">4% more</span> in 2021
        </p>
      </div>
      <div class="card-body p-3">
        <div class="d-flex justify-content-between">
          <span class="text-sm mb-0">asd</span>          
          <span class="text-sm mb-0">asd</span>
        </div>
      </div>
    </div>
    <div class="card box mt-5">
      <div class="card-header">
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">4% more</span> in 2021
        </p>
      </div>
      <div class="card-body p-3">
        <div class="d-flex justify-content-between">
          <span class="text-sm mb-0">asd</span>          
          <span class="text-sm mb-0">asd</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center align-items-center">
    <h3>RPS 2</h3>
  </div>
  <div class="col-lg-8 col-lg-8 col-sm-6 d-flex justify-content-center align-items-center">
    <select name="" id="">
      <option value="">today</option>
    </select>
  </div>
</div>
<div class="row p-3">
  <div class="col-md-4 col-lg-4 col-sm-12 p-1">
    <div class="container">
      <div class="card">
        <div class="card-body p-1">
          <div id="guage-rps-2" style="height: 300%; width: 100%;">
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-5 col-sm-12 p-1">
    <div class="container">
      <div class="card">
        <div class="card-body p-1">
          <div id="bar-rps-2" style="height: 300%; width: 100%;">
  
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3 col-lg-3 col-sm-12 p-1 ml-2">
    <div class="card box">
      <div class="card-header">
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">4% more</span> in 2021
        </p>
      </div>
      <div class="card-body p-3">
        <div class="d-flex justify-content-between">
          <span class="text-sm mb-0">asd</span>          
          <span class="text-sm mb-0">asd</span>
        </div>
      </div>
    </div>
    <div class="card box mt-5">
      <div class="card-header">
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">4% more</span> in 2021
        </p>
      </div>
      <div class="card-body p-3">
        <div class="d-flex justify-content-between">
          <span class="text-sm mb-0">asd</span>          
          <span class="text-sm mb-0">asd</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-lg-2 col-md-2 col-sm-6 d-flex justify-content-center align-items-center">
    <h3>RPS 3</h3>
  </div>
  <div class="col-lg-8 col-lg-8 col-sm-6 d-flex justify-content-center align-items-center">
    <select name="" id="">
      <option value="">today</option>
    </select>
  </div>
</div>
<div class="row p-3">
  <div class="col-md-4 col-lg-4 col-sm-12 p-1">
    <div class="container">
      <div class="card">
        <div class="card-body p-1">
          <div id="guage-rps-3" style="height: 300%; width: 100%;">
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-lg-5 col-sm-12 p-1">
    <div class="container">
      <div class="card">
        <div class="card-body p-1">
          <div id="bar-rps-3" style="height: 300%; width: 100%;">
  
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3 col-lg-3 col-sm-12 p-1 ml-2">
    <div class="card box">
      <div class="card-header">
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">4% more</span> in 2021
        </p>
      </div>
      <div class="card-body p-3">
        <div class="d-flex justify-content-between">
          <span class="text-sm mb-0">asd</span>          
          <span class="text-sm mb-0">asd</span>
        </div>
      </div>
    </div>
    <div class="card box mt-5">
      <div class="card-header">
        <p class="text-sm mb-0">
          <i class="fa fa-arrow-up text-success"></i>
          <span class="font-weight-bold">4% more</span> in 2021
        </p>
      </div>
      <div class="card-body p-3">
        <div class="d-flex justify-content-between">
          <span class="text-sm mb-0">asd</span>          
          <span class="text-sm mb-0">asd</span>
        </div>
      </div>
    </div>
  </div>
</div>