<section>
  <div class="row p-3">
    <h3 class="mb-4"><span translate-language="welcome">Welcome</span>  {{$ctrl.user.full_name}}</h3>
    <h4 class="mb-4">Transaction</h4>
    <div class="col-lg-3 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">

          <!-- <p class="text-sm mb-0">
            <i class="fa fa-arrow-up text-success"></i>
            <span class="font-weight-bold">4% more</span> in 2021
          </p> -->
        </div>
        <div class="card-body p-3">
          <h3 class="text-center font-weight-bold text-secondary"
            ng-bind="$ctrl.transactionData.transactions_pending_for_approval"></h3>
        </div>
        <h6 class="text-capitalize text-center" translate-language="Pending For Approval">Pending For Approval</h6>
      </div>
    </div>
    <div class="col-lg-3 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <!-- <p class="text-sm mb-0">
            <i class="fa fa-arrow-up text-success"></i>
            <span class="font-weight-bold">4% more</span> in 2021
          </p> -->
        </div>
        <div class="card-body p-3">
          <h3 class="font-weight-bold text-center text-info" ng-bind="$ctrl.transactionData.transactions_approved"></h3>
        </div>
        <h6 class="text-capitalize text-center" translate-language="Approved">Approved</h6>

      </div>
    </div>
    <div class="col-lg-3 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <!-- <p class="text-sm mb-0">
            <i class="fa fa-arrow-up text-success"></i>
            <span class="font-weight-bold">4% more</span> in 2021
          </p> -->
        </div>
        <div class="card-body p-3">
          <h3 class="font-weight-bold text-center text-danger" ng-bind="$ctrl.transactionData.transactions_rejected">
          </h3>

        </div>
        <h6 class="text-capitalize text-center" translate-language="Rejected">Rejected</h6>

      </div>
    </div>
    <div class="col-lg-3 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
          <!-- <p class="text-sm mb-0">
            <i class="fa fa-arrow-up text-success"></i>
            <span class="font-weight-bold">4% more</span> in 2021
          </p> -->
        </div>
        <div class="card-body p-3">
          <h3 class="text-center font-weight-bold text-success" ng-bind="$ctrl.transactionData.transactions_completed
          "></h3>

        </div>
        <h6 class="text-capitalize text-center" translate-language="Completed">Completed</h6>
      </div>
    </div>
  </div>

  <div class="row mt-4 p-3">
    <div class="col-lg-12 mb-lg-0 mb-4" style="height: 25%;">
      <div class="card p-3" style="height: 25%;">
        <div class="card-header pb-0 p-3">
          <div class="d-flex justify-content-between">
          <h4 class="mb-2" translate-language="Current Balance in currencies">Current Balance in currencies</h4>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center">
            <tbody>
              <tr>
                <th class="text-center" translate-language="Currency Id">Currency Id</th>
                <th class="text-center" translate-language="Currency Name">Currency Name</th>
                <th class="text-center" translate-language="Balance">Balance</th>
              </tr>
              <tr ng-repeat="credit in $ctrl.creditData">
                <td class="w-30">
                  <p class="mb-0 text-center" ng-bind="credit.currency_id"></p>
                </td>
                <td>
                  <p class="mb-0 text-center" ng-bind="credit.currency_id_name"></p>
                </td>
                <td>
                  <p class="mb-0 text-center" ng-bind="credit.credit_balance"></p>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
 
  
</section>