<div class="modal fade" id="transaction-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" translate-language="Transaction">Transaction</h5>
        <a data-dismiss="modal" aria-label="Close" ng-click="$ctrl.closeModal()">
          <span aria-hidden="true"><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            /></svg>
          </span>
        </a>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
              <div class="col-lg-3">
                <label class="form-label" translate-language="Total Balance">Total Balance: </label>
              </div>
              <div class="col-lg-9">
                <input class="form-control" type="number" ng-model="$ctrl.transaction.balance" ng-disabled="$ctrl.modalType.TOBEREJECTED == $ctrl.activeModalType || $ctrl.modalType.TOBECOMPLETED == $ctrl.activeModalType">
                <span class="text-danger" ng-repeat="error in $ctrl.error.balance" ng-bind="error"></span>
              </div>
        </div>
        <div class="row mb-2">
              <div class="col-lg-3">
                <label class="form-label" translate-language="Target Currency">Target Currency: </label>
              </div>
              <div class="col-lg-9">
                <select class="form-control" ng-model="$ctrl.transaction.target_currency_id" ng-disabled="$ctrl.modalType.TOBEREJECTED == $ctrl.activeModalType || $ctrl.modalType.TOBECOMPLETED == $ctrl.activeModalType">
                  <option ng-value="">Select a currency</option>
                  <option ng-value="currency.id" ng-repeat="currency in $ctrl.lookupCurrency" ng-bind="currency.name"></option>
                  
                </select>
                <span class="text-danger" ng-repeat="error in $ctrl.error.target_currency_id" ng-bind="error"></span>

              </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-3">
            <label class="form-label" translate-language="Receiving Currency">Receiving Currency: </label>
          </div>
          <div class="col-lg-9">
            <select class="form-control" ng-model="$ctrl.transaction.recieving_currency_id" ng-disabled="$ctrl.modalType.TOBEREJECTED == $ctrl.activeModalType || $ctrl.modalType.TOBECOMPLETED == $ctrl.activeModalType">
              <option ng-value="">Select a currency</option>
              <option ng-value="currency.id" ng-repeat="currency in $ctrl.lookupCurrency" ng-bind="currency.name"></option>
              
            </select>
            <span class="text-danger" ng-repeat="error in $ctrl.error.recieving_currency_id" ng-bind="error"></span>
          </div>
        </div>
        <div class="row mb-2">
              <div class="col-lg-3">
                <label class="form-label" translate-language="Converted Amount">Converted Amount: </label>
              </div>
              <div class="col-lg-9">
                <input class="form-control" type="number" ng-model="$ctrl.transaction.converted_amount" ng-disabled="$ctrl.modalType.TOBEREJECTED == $ctrl.activeModalType || $ctrl.modalType.TOBECOMPLETED == $ctrl.activeModalType">
                <span class="text-danger" ng-repeat="error in $ctrl.error.converted_amount" ng-bind="error"></span>
              </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-3">
            <label class="form-label" translate-language="Phone Number">Contact Number: </label>
          </div>
          <div class="col-lg-9">
            <input class="form-control" type="text" ng-model="$ctrl.transaction.contact_number">
            <span class="text-danger" ng-repeat="error in $ctrl.error.contact_number" ng-bind="error"></span>
          </div>
    </div>
        <div class="row mb-2">
          <div class="col-lg-3">
            <label class="form-label" translate-language="Commision">Commision: </label>
          </div>
          <div class="col-lg-9">
            <input class="form-control" type="number" ng-model="$ctrl.transaction.commision" ng-disabled="$ctrl.disableCommision || $ctrl.modalType.TOBEREJECTED == $ctrl.activeModalType || $ctrl.modalType.TOBECOMPLETED == $ctrl.activeModalType">
            <span class="text-danger" ng-repeat="error in $ctrl.error.commision" ng-bind="error"></span>
          </div>
    </div>
        <div class="row mb-2">
              <div class="col-lg-3">
                <label class="form-label" translate-language="OTP">OTP: </label>
              </div>
              <div class="col-lg-9">
                <input class="form-control" type="text" ng-model="$ctrl.transaction.otp_for_transaction" disabled readonly>
                <span class="text-danger" ng-repeat="error in $ctrl.error.otp_for_transaction" ng-bind="error"></span>
              </div>
        </div>
        
        <div class="row mb-2" ng-show="$ctrl.modalType.TOBEREJECTED == $ctrl.activeModalType || $ctrl.modalType.TOBECOMPLETED == $ctrl.activeModalType">
              <div class="col-lg-3">
                <label class="form-label" translate-language="Reason to Reject">Reason to Reject: </label>
              </div>
              <div class="col-lg-9">
                <textarea class="form-control" ng-model="$ctrl.transaction.reason_for_reject"></textarea>
                <span class="text-danger" ng-repeat="error in $ctrl.error.reason_for_reject" ng-bind="error"></span>
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$ctrl.closeModal()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.createTransaction()" ng-show="$ctrl.modalType.TOBECREATED == $ctrl.activeModalType" ng-click="$ctrl.createTransaction()">Add</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.updateTransaction()" ng-show="$ctrl.modalType.TOBEUPDATED == $ctrl.activeModalType" ng-click="$ctrl.updateTransaction()">Update</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.reject()" ng-show="$ctrl.modalType.TOBEREJECTED == $ctrl.activeModalType" ng-click="$ctrl.reject()">Reject</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.complete()" ng-show="$ctrl.modalType.TOBECOMPLETED == $ctrl.activeModalType" ng-click="$ctrl.complete()">Complete</button>
      </div>
    </div>
  </div>
</div>