<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex flex-wrap justify-content-between">
          <h5 translate-language="Transactions">Transactions</h5>
          <div ng-if="$ctrl.activeUserType == $ctrl.userTypes.AGENT">
            <button type="button" class="btn btn-success" style="margin-right: 6px;" ng-click="$ctrl.showAddModal()">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                  viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
              </span>
              <span style="margin-left: 2px;" translate-language="New transaction">
                New transaction
              </span>
            </button>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.searchUsingOtp()">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                  </path>
                </svg>
              </span>
              <span style="margin-left: 3px;" translate-language="Search Using OTP">
                Search Using Otp
              </span>
            </button>
          </div>

        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="d-flex flex-wrap justify-content-start">
            <div class="pr-2 d-flex justify-content-center background-button"
              ng-click="$ctrl.filterList('all')" ng-class="{'active': $ctrl.activeTransactionType == 'all'}">
              <span translate-language="All">
                All
              </span>
            </div>
            <div class="pr-2 d-flex justify-content-center background-button"
              ng-click="$ctrl.filterList($ctrl.transactionType.COMPLETED)"
              ng-class="{'active': $ctrl.activeTransactionType == $ctrl.transactionType.COMPLETED}">
              <span translate-language="Completed">
                Completed
              </span>
            </div>
            <div class="pr-2 d-flex justify-content-center background-button"
              ng-click="$ctrl.filterList($ctrl.transactionType.REJECTED)"
              ng-class="{'active': $ctrl.activeTransactionType == $ctrl.transactionType.REJECTED}">
              <span translate-language="Rejected">
                Rejected
              </span>
            </div>
            <div class="pr-2 d-flex justify-content-center background-button"
              ng-click="$ctrl.filterList($ctrl.transactionType.PENDING_FOR_APPROVAL)"
              ng-class="{'active': $ctrl.activeTransactionType == $ctrl.transactionType.PENDING_FOR_APPROVAL}">
              <span translate-language="Pending">
                Pending
              </span>
            </div>
            <div class="pr-2 d-flex justify-content-center background-button"
              ng-click="$ctrl.filterList($ctrl.transactionType.APPROVED)"
              ng-class="{'active': $ctrl.activeTransactionType == $ctrl.transactionType.APPROVED}">
              <span translate-language="Approved">
                Approved
              </span>
            </div>

          </div>
          <div class="table table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th translate-language="Initiator Name" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Initiator Name
                  </th>
                  <th translate-language="Total Balance" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Total Balance
                  </th>
                  <th translate-language="OTP" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    OTP
                  </th>
                  <th translate-language="Receiving Currency" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Receiving Currency
                  </th>
                  <th translate-language="Target Currency" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Target Currency
                  </th>
                  <th translate-language="Manager" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Manager
                  </th>
                  <th translate-language="Status" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Status
                  </th>
                  <th translate-language="Converted Amount" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Converted Amount
                  </th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="transaction in $ctrl.filteredList">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm" ng-bind="transaction.initiator.name"></h6>
                        <p class="text-xs text-secondary mb-0" ng-bind="transaction.initiator.email"></p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0" ng-bind="transaction.balance"></p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0" ng-bind="transaction.otp_for_transaction"></p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0" ng-bind="transaction.recieving_currency.name"></p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0" ng-bind="transaction.target_currency.name"></p>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{transaction.manager_id != null ?
                      transaction.manager.name : 'N/A'}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      ng-bind="transaction.transaction_status"></span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold" ng-bind="transaction.converted_amount"></span>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex justify-content-center">
                      <div data-toggle="tooltip" title="Approve" class="p-1">
                        <a href="javascript:;" ng-click="$ctrl.approve(transaction.id)"
                          ng-if="$ctrl.activeUserType == $ctrl.userTypes.MANAGER"><span><svg
                              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-check-square" viewBox="0 0 16 16">
                              <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                              <path
                                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z" />
                            </svg></span></a>
                      </div>
                      <div data-toggle="tooltip" title="Reject" class="p-1">
                        <a href="javascript:;"
                          ng-click="$ctrl.showRejectModal(transaction.id, $ctrl.modalType.TOBEREJECTED)"
                          ng-if="$ctrl.activeUserType == $ctrl.userTypes.MANAGER"><span><svg
                              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-x-circle" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                              <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg></span></a>
                      </div>
                      <div data-toggle="tooltip" title="Info" class="p-1">
                        <a href="javascript:;"
                          ng-click="$ctrl.showUpdateModal(transaction.id, $ctrl.modalType.TOBEUPDATED)"><span><svg
                              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-info-circle" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                              <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg></span></a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<transaction-add-update></transaction-add-update>