:root {
  --primaryColor: #a12330;
  --secondaryColor: #ab9362;
}
.catering-online-btn {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 16px 30px;
  color: #fff;
  line-height: 18px;
  transition: 0.2s ease;
  margin: auto;
}
.btn-red {
  background-color: var(--primaryColor);
  color: #fff;
  border: 1px solid;
  border-color: var(--primaryColor);
}

.btn-red:hover {
  background-color: #fff;
  color: var(--primaryColor);
  border-color: var(--primaryColor);
  fill: var(--primaryColor);
}
.btn-red:hover span svg path {
  fill: var(--primaryColor);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.83333 8.1665H5.5V9.83317H3.83333V8.1665ZM15.5 3.99984V15.6665C15.5 16.5832 14.75 17.3332 13.8333 17.3332H2.16667C1.24167 17.3332 0.5 16.5832 0.5 15.6665L0.508333 3.99984C0.508333 3.08317 1.24167 2.33317 2.16667 2.33317H3V0.666504H4.66667V2.33317H11.3333V0.666504H13V2.33317H13.8333C14.75 2.33317 15.5 3.08317 15.5 3.99984ZM2.16667 5.6665H13.8333V3.99984H2.16667V5.6665ZM13.8333 15.6665V7.33317H2.16667V15.6665H13.8333ZM10.5 9.83317H12.1667V8.1665H10.5V9.83317ZM7.16667 9.83317H8.83333V8.1665H7.16667V9.83317Z' fill='%23323232' /%3E%3C/svg%3E")
    no-repeat;
}
a {
  cursor: pointer;
}

/* animation */

@-webkit-keyframes animateleft {
  from {
    right: -750px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    right: -750px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
/* scrollbar javasript styling */
/* width */
html *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
html *::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
html *::-webkit-scrollbar-thumb {
  background: rgb(178 178 179);
  border-radius: 5px;
}

/* Handle on hover */
html *::-webkit-scrollbar-thumb:hover {
  background: rgb(178 178 179);
}

/* modal from left and right */
.modal .modal-header {
  font-weight: 500;
  font-size: 24px;
}
.modal .modal-title {
  font-weight: 500;
  font-size: 24px;
}

/* modal from left and right */
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 0.5s;
  animation-name: animateleft;
  animation-duration: 0.5s;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}
.modal.left.show .modal-dialog.modal-lg,
.modal.right.show .modal-dialog.modal-lg {
  min-width: 720px;
}
.modal.left .modal-body,
.modal.right .modal-body {
}

/* modal left */
.modal.left .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.show .modal-dialog {
  left: 0;
}

/* modal right */
.modal.right .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.show .modal-dialog {
  right: 0;
}

/* datatable styling */
dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:focus,
.dataTables_paginate .paginate_button.current {
  color: #a12330;
  background-color: #fff;
  border: 1px solid #a12330;
}
dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:focus,
.dataTables_paginate .paginate_button.current:hover {
  color: #fff;
  background-color: #a12330;
}

body {
  color: #000000;
}

.ui-select-multiple.select2 {
  width: 100%;
}

.ui-select-multiple.select2 ul.select2-choices {
  background-image: unset;
  background-color: transparent;
  border: 1px solid #bebec7;
  border-radius: 4px;
  color: #313133;
  font-size: 12px;
  font-family: var(--font-regular);
  height: 40px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  box-shadow: none;
  border: 0;
  background-image: unset;
  background-color: rgb(91 80 208 / 10%);
  color: #5b50d0;
  padding: 10px 10px 10px 18px;
}
.select2-container-multi .select2-search-choice-close {
  top: 10px;
}
input.select2-input.ui-select-search {
  width: auto !important;
}
li.select2-search-field {
  padding: 10px !important;
  width: 100%;
}
input.select2-input.ui-select-search {
  width: 100% !important;
  border: 1px solid rgb(0 0 0 / 15%) !important;
}
.btn-primary { color: #fff; background-color: #a12330; border-color: #a12330;}
.btn-primary:hover { color: #fff; background-color: #c13644; border-color: #c13644;}
.btn-outline-danger { color: #a12330; background-color: transparent; background-image: none; border-color: #a12330;}
.btn-outline-danger:hover { color: #fff; background-color: #a12330; border-color: #a12330;}

.text-primary{color: #a12330;}
.text-danger{color: #a12330!important;}

.border-danger {border-color: #a12330!important;}

.active { color: #a12330;  font-weight: 500;}

/* body{
  font-family: "Roboto", sans-serif;
} */
/* dashboard */
/* dashboard header */
.dashboard-content-header h1 {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}
.dashboard-content-header p {
  font-weight: 400;
  font-size: 20px;
  color: #6d6d6d;
}
/* report btn */
.report-btn {
  width: 159px;
  height: 35px;
  background: #a12330;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.report-btn:hover {
  color: #fff;
  text-decoration: none;
}
.report-icon svg {
  margin-bottom: 1px;
}
/* delivery counter boxes */
.delivery-counter {
  background: #ffffff;
  border: 0.942966px solid #d1d1d1;
  border-radius: 20px;
  cursor: pointer;
}
.dates-counter {
  font-weight: 400;
  font-size: 14px;
  color: #6d6d6d;
}
.days-counter {
  font-weight: 400;
  font-size: 16px;
  color: #a12330;
}
.delivery-counter h2 {
  height: max-content;
  font-weight: 500;
  font-size: 64px;
  color: #a12330;
}
/* order tabs */
.single-tabs {
  /* padding: 0px 25px; */
  width: 130px;
  margin-bottom: 5px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-collapse: collapse;
  font-size: 14px;
}
.single-tabs-left {
  border-radius: 5px 0px 0px 5px;
}
.single-tabs-right {
  border-radius: 0px 5px 5px 0px;
}
.single-tabs .tabs-anchor {
  color: #676767;
}
.single-tabs .tabs-anchor:hover {
  color: #676767;
  cursor: pointer;
}

.modal-title {
  font-weight: 500;
  font-size: 24px;
}
.form-control {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.col-form-label {
  font-weight: 400;
  font-size: 13px;
}
.order-status {
  color: #000;
}
.image-upload,
.video-upload {
  background: rgba(217, 217, 217, 0.1);
  /* opacity: 0.5; */
  border: 1px solid #d9d9d9;
  padding: 10px;
}
.upload-product {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 2px;
  cursor: pointer;
}
.upload-content {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.upload-content img {
  width: 60px;
  height: 60px;
}

.already-added img {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  position: relative;
}
.delete-img-icon {
  position: absolute;
  top: 0;
  right: 10px;
}
.adding-picture {
  background: #f5f5f5;
  border-radius: 4px;
  height: 100px;
  cursor: pointer;
}
/* .tab-content .tab-pane{
    display: block;
  } */
.add-categories-btn {
  border: 1px solid #a12330;
  border-radius: 5px;
  width: 159px;
  height: 35px;
  color: #a12330;
  cursor: pointer;
}
.card {
  background: #f5f5f5;
  border: none;
  border-radius: 0px;
}
.modal-accordion select,
.modal-accordion input::placeholder{
  color: #000;
}
.category-name {
  width: 100%;
  height: auto;
}

.btn-link {
  background: #a12330;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  color: #fff;
}

.btn-link:hover {
  color: #fff;
  cursor: pointer;
}

.navbar-static {
  z-index: 1;
}

/* Order Modal */
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
.active-nav ,
.navbar-custom .nav-item a:hover {
  color: #ab9362;
}
.navbar-custom {
  background-color: #000;
  color: #fff;
  height: 65px;
}
.navbar-brand img {
  width: 3rem;
  height: auto;
}
.navbar-custom .nav-item{
  font-size: 16px;
}
.active-nav svg path ,
.navbar-custom .nav-item a:hover svg path{
  fill: #ab9362;
}

.modal-header-background {
  background-color: #000;
}

.order-id {
  font-size: 24px;
  font-weight: 400;
}

/*
.order-detail-wrapper,
.order-date-wrapper,
.order-table-wrapper,

.detailed span {
  width: 35%;
  font-weight: 400;
  font-size: 16px;
}
.detailed .w-adjust {
  width: 65%;
}
.detailed .order-content {
  font-weight: 500;
  font-size: 16px;
}
.order-date h3,
.delivery-date h3 {
  font-weight: 500;
  font-size: 20px;
  color: #a12330;
}
.order-date p,
.delivery-date p {
  font-size: 16px;
  font-size: 400;
}
.delivery-date input {
  width: 150px;
  padding-right: 1px;
}
.input-group-append {
  cursor: pointer;
}
.calender-icon {
  position: absolute;
  top: -5%;
  right: 5%;
}
.icon-payment {
  top: 22%;
  right: 8%;
}
.order-table-header h3 {
  font-weight: 500;
}
.edit-icon {
  cursor: pointer;
}
.content-header,
.table-content {
  border-bottom: 1px solid lightgray;
}
.table-content {
  width: auto;
  height: 145px;
  overflow: auto;
}
.table-content p {
  font-size: 16px;
  font-weight: 500;
}
.other-product p {
  font-size: 14px;
  font-weight: 500;
}
.total-amount {
  width: 170px;
  height: auto;
}
.order-total-amount {
  font-size: 16px;
  font-weight: 400;
}
.price,
.discount-price,
.total-price {
  font-size: 16px;
  font-weight: 500;
}
.payment-header h3 {
  font-weight: 500;
}
.payment-content-hed,
.payment-content-row-ln {
  background: #f2f2f3;
}
.payment-content-hed p {
  font-size: 16px;
  font-weight: 700;
}
.payment-content-row-ad {
  background: #f9f9fa;
}
.discout-input input {
  width: 100px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #000;
}
.payment-content p {
  width: fit-content;
}

.payment-content-row-bln p {
  width: max-content;
  color: #ff0000;
}
.cancel-btn {
  border: 1px solid #a12330;
  border-radius: 5px;
  width: 160px;
  height: 35px;
  color: #a12330 !important;
}
.pay-btn {
  background: #a12330;
  border-radius: 5px;
  width: 160px;
  height: 35px;
  color: #fff !important;
}
.cancel-btn:hover {
  text-decoration: none;
  color: #a12330;
}
.pay-btn:hover {
  text-decoration: none;
  color: #fff;
}

.order-detail-section-wrapper::-webkit-scrollbar {
  display: none;
}
*/

.order-detail-wrap {font-size: 1rem;}
.order-detail-wrap .highlight {  color: #a12330; font-weight: 500;}
.order-detail-wrap .section-seperator { background: #fdfdfe; box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);}
.order-detail-wrap .order-price tr { background: #f9f9fa;}
.order-detail-wrap .order-price tr td { border-bottom: 1px solid white; padding: 5px;} 

/* payment-modal */
.form-group-minus {
  margin-top: -10px;
}
.payment-order-detail-wrapper {
  width: 510px;
  height: auto;
  background: #fdfdfe;
  border-radius: 10px;
  margin: auto;
}
.payment-order-detail-wrapper p {
  font-size: 16px;
}
.modal-payment {
  font-weight: 500;
  font-size: 36px;
  color: #a12330;
}
.payment-option {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.date-input-modal-sec {
  position: relative;
}
.calender-modal-icon {
  position: absolute;
  top: 8px;
  right: 25px;
}
.upload-text {
  font-weight: 400;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.85);
}
.payment-submit-btn {
  width: 160px;
  height: 35px;
  background: #a12330;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin: auto;
}

.order-success-modal-wrapper {
  width: 360px;
  height: auto;
  background: #fdfdfe;
  border-radius: 10px;
  margin: auto;
}
.modal-success-title {
  font-weight: 500;
  font-size: 24px;
}
.discount-select {
  width: 200px;
  height: auto;
  padding: 10px;
}
.exect-price {
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
}
.order-discount-price {
  font-weight: 500;
  font-size: 32px;
  color: #a12330;
}

/* Quotation order edit modal */

#quotationItemEditModal .modal-lg {
  max-width: 1100px;
}
/* Customize Tab and Pill */
.order-detail-modal-wrapper {
  width: 1100px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 15px;
  border: 1px solid lightgray;
}
.customize-client-information-wrapper {
  position: relative;
  padding: 30px 0px;
  box-shadow: 0px 10px 20px 7px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.input-responsive {
  margin: auto;
}

.customize-client-information-wrapper h3 {
  font-weight: 500;
}

.packages-category-filter-tabs
  li:last-child
  .active
  .packages-customize-new-label {
  display: block;
}

.packages-customize-new-label {
  display: none;
  right: -10px;
  top: -8px;
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: bold;
}

.customize-client-information-wrapper .form-control,
.customize-client-information-wrapper select {
  margin-bottom: 25px;
  color: #5f5f5f;
  font-size: 14px;
  padding: 15px;
  border-radius: 6px;
  border-color: #dcdcdc;
  text-transform: none;
  line-height: 16px;
}

.customize-client-information-wrapper .form-control[type="time"] {
  padding: 13px;
}

.customize-client-information-wrapper .form-control::placeholder {
  color: #5f5f5f;
  line-height: 16px;
  text-transform: capitalize;
}

.customize-client-information-wrapper .form-control:focus,
.customize-client-information-wrapper select:focus {
  box-shadow: 0 0 0 0.25rem rgb(205 205 205 / 25%);
}

/* Customize your menu pills and tabs */

.customize-menu-items-wrapper {
  position: relative;
  box-shadow: 0px 10px 20px 7px rgba(0, 0, 0, 0.07);
  padding: 18px;
}

.customize-menu-items-wrapper .nav-item button {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: #000;
  position: relative;
  padding: 0;
  margin: 0.5rem 1rem;
}

.customize-menu-items-wrapper .nav-item button.active {
  color: var(--primaryColor);
  background-color: transparent;
}

.customize-menu-items-wrapper .nav-item button.active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 4px;
  background-color: var(--primaryColor);
  border-radius: 5px;
}

.item-label,
.item-name {
  flex-grow: 1;
}

.item-name {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  align-self: center;
  padding: 0px 20px;
  padding-right: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
}
.item-image figure {
  max-width: 90px;
}

/* Customize the Menu left */

.customize-package-item-left,
.customize-package-item-right {
  max-height: 820px;
  overflow-y: scroll;
  padding: 15px 26px;
}

@media (min-width: 768px) {
  .customize-package-item-left .col-md-5 {
    width: 45.55567%;
  }
}

.customize-package-item-left::-webkit-scrollbar,
.customize-package-item-right::-webkit-scrollbar {
  width: 10px;
}

.customize-package-item-left::-webkit-scrollbar-track,
.customize-package-item-right::-webkit-scrollbar-track {
  background-color: #f6f7f8;
}

.customize-package-item-left::-webkit-scrollbar-thumb,
.customize-package-item-right::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
}

#quotationItemEditModal .item-image img {
  height: 100%;
  object-fit: cover;
}

/* Create Product Category Modal */

.quotation-category .customize-menu-items-wrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.quotation-category .customize-menu-items-wrapper {
  box-shadow: none;
}

.item-wrapper {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  margin-bottom: 55px;
}

.item-wrapper .item-checkbox {
  margin: 0px;
  right: 10px;
  top: 10px;
}

.item-wrapper .item-checkbox.form-check-input:checked {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.item-wrapper .item-checkbox.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(205 205 205 / 25%);
  border-color: var(--primaryColor);
}

/* Customize the Menu right */

.customize-package-item-right {
  position: relative;
  padding-top: 0px;
}

.customize-package-item-right:before {
  content: "";
  position: absolute;
  left: 10px;
  top: -30px;
  width: 1px;
  background-color: #e5e5e5;
  height: calc(100% + 60px);
  z-index: 1;
}

.customize-package-item-right-header {
  padding-bottom: 26px;
}

.customize-package-item-right-main h5,
.customize-package-item-right-header h5 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.customize-package-item-right-main h5 {
  padding-bottom: 20px;
}

.package-item {
  display: flex;
  align-items: center;
  background-color: #f6f7f8;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  margin-bottom: 6px;
}

.package-item-img {
  margin-right: 10px;
}

.customize-package-item-left .item-image figure,
.customize-package-item-right .package-item-img figure {
  height: 100%;
}
.customize-package-item-left .item-image figure{
  width: 100px;
  height: 74px;
}
.customize-package-item-left img {
  width: 100%;
  height: 100%;
}
.customize-package-item-right .package-item-img img {
  max-width: 45px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.package-item-name {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
}

.package-item-delete {
  padding-right: 17px;
}


.icon-1_25x {
  font-size: 1.25rem;
}
.icon-1_5x {
  font-size: 1.5rem;
}


div#quotationItemEditModal {
  z-index: 1051;
}

div#discountModal {
  z-index: 1051;
}
th{
  width: auto !important;
}
.dropdown-toggle::after{
  margin-top: 3px;
}
#orderPaymentModal .modal-body,
#orderPaymentRefundModal .modal-body{
  padding: 0px;
}
.modal-content{
  background: #FDFDFE;
border-radius: 10px;
}
.colored-toast.swal2-icon-warning {
  background-color: #505050 !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
color: white;
}

.colored-toast .swal2-html-container {
color: white;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

